In [2]:
import traceback
import warnings

from io import StringIO
import ee
import time
import os
from glob import glob
from typing import Optional, Callable, List, Tuple
from shapely.geometry import mapping, Polygon
import numpy as np
import geopandas as gpd
import pandas as pd
import fsspec
from datetime import datetime, timezone
import math
import json

from ml4floods.data import ee_download, utils

# Calling some functions

Removed the full function call and used the following instead.

In [5]:
get_count_function = ee_download.get_count_function

In [6]:
get_landsat_collection = ee_download.get_landsat_collection

In [7]:
collection_mosaic_day = ee_download.collection_mosaic_day

In [8]:
BANDS_NAMES = ee_download.BANDS_NAMES

Calling the aoi file

# Reading the geojson file

In [98]:
sydney_aoi= gpd.read_file('2022-07-21_aois.geojson')

In [10]:
sydney_aoi

    aoi_code                                           geometry
0      AOI01  POLYGON ((147.09960 -31.24462, 147.30960 -31.2...
1      AOI01  POLYGON ((147.09960 -31.24462, 147.30960 -31.2...
2      AOI02  POLYGON ((147.09960 -31.04462, 147.30960 -31.0...
3      AOI02  POLYGON ((147.09960 -31.04462, 147.30960 -31.0...
4    AOI0289  POLYGON ((147.49960 -32.44461, 147.70960 -32.4...
..       ...                                                ...
476    AOI97  POLYGON ((150.29960 -34.24462, 150.50960 -34.2...
477    AOI98  POLYGON ((150.29960 -34.04462, 150.50960 -34.0...
478    AOI98  POLYGON ((150.29960 -34.04462, 150.50960 -34.0...
479    AOI99  POLYGON ((150.29960 -33.84462, 150.50960 -33.8...
480    AOI99  POLYGON ((150.29960 -33.84462, 150.50960 -33.8...

[481 rows x 2 columns]

In [11]:
sydney_aoi.geometry

0      POLYGON ((147.09960 -31.24462, 147.30960 -31.2...
1      POLYGON ((147.09960 -31.24462, 147.30960 -31.2...
2      POLYGON ((147.09960 -31.04462, 147.30960 -31.0...
3      POLYGON ((147.09960 -31.04462, 147.30960 -31.0...
4      POLYGON ((147.49960 -32.44461, 147.70960 -32.4...
                             ...
476    POLYGON ((150.29960 -34.24462, 150.50960 -34.2...
477    POLYGON ((150.29960 -34.04462, 150.50960 -34.0...
478    POLYGON ((150.29960 -34.04462, 150.50960 -34.0...
479    POLYGON ((150.29960 -33.84462, 150.50960 -33.8...
480    POLYGON ((150.29960 -33.84462, 150.50960 -33.8...
Name: geometry, Length: 481, dtype: geometry

Getting the bounds from a single polygon

In [12]:
test_bounds= sydney_aoi.geometry[0].bounds
test_bounds

(147.09959654580408,
 -31.244618412374592,
 147.30959654580408,
 -31.03461841237459)

# Sorting the dates

Converting standard date format into a datetime objectget_landsat_collection(date_start= , date_end= , bounds= test_bounds)

In [13]:
date_string_start = '02/08/21'
date_string_end = '03/09/21'
datetime_start= datetime.strptime(date_string_start, '%d/%m/%y')
datetime_end= datetime.strptime(date_string_end, '%d/%m/%y')
datetime_start

datetime.datetime(2021, 8, 2, 0, 0)

In [14]:
date_range = ('02/08/21', '03/09/21')

In [124]:
type(date_range)

tuple

In [ ]:
#Test of datetime function from query notebook

#e.g. date_range = ('dd/mm/yy', 'dd/mm/yy')

def get_datetime(date_range):
    datetime_start= datetime.strptime(date_range[0], '%d/%m/%y')
    datetime_end= datetime.strptime(date_range[1], '%d/%m/%y')
    
    start_year = datetime_start.year
    end_year = datetime_end.year
    
    return datetime_start, datetime_end, start_year, end_year

dates = get_datetime(date_range)

print(dates)

(datetime.datetime(2021, 8, 2, 0, 0), datetime.datetime(2021, 9, 3, 0, 0))

In [126]:
type(dates[0])

tuple

In [16]:
print(f'Start datetime: {dates[0]}, end datetime: {dates[1]}')

Start datetime: 2021-08-02 00:00:00, end datetime: 2021-09-03 00:00:00

# Authenticating `ee`

First will have to run `earthengine authenticate` in the VM command line / terminal. 

**Issue:** Doesn't allow us to authenticate. We get an 'access blocked' message. We checked the GCP API information under APIs and Servicse > Enabled APIs & Services and there are no API credentials (client ID and key). We had a look into what the issue might be and found that we may need to enable 'Google Earth Engine API', but this did nothing. 

- Do we need client ID and key for the API to get access?
- Do we need to open the authentication link  in a VM browser? 
- Any other reasons why the authentication link doesn't work


**SOLVED** Cormac suggested to run the following

In [17]:
ee.Authenticate()

Enter verification code:  4/1AdQt8qggP9JLhhObDubnxpbfJBn5iTFhUBM7iuM387kwz8ONWdUjeT5ynkE

Successfully saved authorization token.

Initialise earth engine (ee)

In [18]:
ee.Initialize()

# Getting the bounds and getting the images

In [19]:
type(sydney_aoi.geometry[0].bounds)

tuple

In [122]:

js = json.loads(sydney_aoi.to_json()) # Converting the aoi to a json and loading the json information, inludes coordinates,
                                        # id for each polygon. Within the dictionary we have a 'featureCollection'
    
bounds = ee.Geometry(ee.FeatureCollection(js).geometry()) # Getting the bounds of the polygons 

type(bounds)

ee.geometry.Geometry

type(js)

js

js['features'][0]['geometry']['coordinates']

sydney_aoi.geometry

bounds

In [21]:
landsat_imgs = get_landsat_collection(date_start=dates[0], date_end=dates[1] , bounds=bounds)

In [22]:
type(landsat_imgs)

ee.imagecollection.ImageCollection

# Checking the properties of the imageCollection

Checking the size of the image collection

NOTE: Find date range limits that won't time out

**Example** from https://developers.google.com/earth-engine/apidocs/ee-imagecollection-size

In [24]:
col = ee.ImageCollection('LANDSAT/LC08/C02/T1_TOA').filterBounds(ee.Geometry.Point(-90.70, 34.71)).filterDate('2020-01-01', '2021-01-01');

In [25]:
type(col)

ee.imagecollection.ImageCollection

[running the below code in this link gives the number of images](https://code.earthengine.google.com/820fcb75a86f86352d4ae1d62c4650fe)

// Note: ee.ImageCollection.size may take a lot of time and memory to run,
// since it must generate all of the results in order to count them. Large
// collections and/or complex computations can produce memory limitation
// errors.

// A Landsat 8 TOA image collection (1 year of images at a specific point).
var col = ee.ImageCollection('LANDSAT/LC08/C02/T1_TOA')
  .filterBounds(ee.Geometry.Point(-90.70, 34.71))
  .filterDate('2020-01-01', '2021-01-01');

// Get the number of images in the collection.
print('Number of images', col.size());

**End Example**

After checking the function `_get_collection()` in the script, I noticed the variable `n_images` which seemed like 'number of images'. Using the same code from the script gives us:

In [26]:
landsat_imgs.size().getInfo()

12

We can see the `CLOUD_SCORE` is contained in 

features: [] -> id: 'date', properties: {} -> CLOUD_SCORE

In [39]:
myDict = landsat_imgs.getInfo()

In [40]:
len(myDict['features'])

12

In [41]:
myDict['features'][0].get('id')

'2021-08-17'

In [42]:
myDict = landsat_imgs.getInfo()

In [43]:
myDict['features'][0].get('properties')['CLOUD_COVER']

3.48

In [61]:
cloudScore_landsat = np.array([])

for i in range(len(myDict['features'])):
    val = myDict['features'][i].get('properties')['CLOUD_COVER']
    cloudScore_landsat = np.append(cloudScore_landsat, val)
    print(i, val) 


print(f'Mean cloud score is {cloudScore_landsat.mean()}')

0 3.48
1 10.97
2 40.43
3 76.51
4 0.32
5 0.05
6 54.69
7 10.8
8 0.02
9 14.17
10 1.96
11 0.01
Mean cloud score is 17.784166666666668

Now we need to know what a cloud score looks like and if there are any other properties we want to consider from the imageCollection.

plot out on a spatial grid. 

Each patch may have multiple images with each of the cloud scores. 

geopandas table with whichever coordinates used. coords and cloud cover.
sleep statement after each point to see how the plot is being built. 

---

geoscape query and intersects. 

---

linking the keys for both satellites.

myDict['features'][0].get('properties')

To access the information, the procses looks like this: `landsat_imgs.getInfo()['features'][my_index].get('properties')['my_feature']`. 

getInfo() is a dictionary, so we access the dictionary by calling one of the words in the dictionary being 'features'. This now becomes a list of the different images, so we can index into the image we want. We then use the get() function which again returns a dictionary we can access with one of the words in the dictionary to access the information.

**Now getting the images for s2. Note, s2 has different properties to landsat**

In [47]:
get_s2_collection = ee_download.get_s2_collection

In [48]:
s2_imgs = get_s2_collection(date_start=dates[0], date_end=dates[1] , bounds=geometry)

In [51]:
s2_imgs.getInfo()['features'][0].get('properties')['CLOUD_COVERAGE_ASSESSMENT']

10.1582

Number of images

In [64]:
s2_imgs.size().getInfo()

26

In [52]:
myDict2 = s2_imgs.getInfo()

In [63]:
cloudScore_s2 = np.array([])

for i in range(s2_imgs.size().getInfo()):
    val = myDict2['features'][i].get('properties')['CLOUD_COVERAGE_ASSESSMENT']
    cloudScore_s2 = np.append(cloudScore_s2, val)
    print(i, val)
    
print(f'Mean cloud score is {cloudScore_s2.mean()}')

0 10.1582
1 18.4946
2 19.9737
3 57.2791
4 69.7648
5 0
6 1.937
7 6.9454
8 16.4855
9 0
10 0
11 29.3754
12 0
13 98.0081
14 0
15 0
16 90.0543
17 99.9021
18 0
19 51.3534
20 0
21 99.9965
22 99.9962
23 0.2658
24 0
25 0
Mean cloud score is 29.615003846153847

s2_imgs.getInfo()

In [ ]:
myDict['features']

# Checking the shapefile data type

In [79]:
import shutil

In [81]:
extract= shutil.unpack_archive('Declarations_19722_Merge.zip')

In [84]:
test= gpd.read_file('Declarations_unzip/Declarations_19722_Merge.shp')

type(test)

test.head()

In [87]:
test_aoi.head()

  aoi_code                                           geometry
0    AOI01  POLYGON ((147.09960 -31.24462, 147.30960 -31.2...
1    AOI01  POLYGON ((147.09960 -31.24462, 147.30960 -31.2...
2    AOI02  POLYGON ((147.09960 -31.04462, 147.30960 -31.0...
3    AOI02  POLYGON ((147.09960 -31.04462, 147.30960 -31.0...
4  AOI0289  POLYGON ((147.49960 -32.44461, 147.70960 -32.4...

In [88]:
test['geometry']

0     POLYGON ((147.62222 -32.27942, 147.62209 -32.2...
1     POLYGON ((149.61555 -33.70254, 149.61556 -33.7...
2     POLYGON ((151.06433 -33.87054, 151.06332 -33.8...
3     POLYGON ((151.14805 -33.92725, 151.14858 -33.9...
4     POLYGON ((150.87089 -33.82385, 150.87078 -33.8...
5     POLYGON ((150.60737 -33.66288, 150.61112 -33.6...
6     POLYGON ((150.76613 -33.94513, 150.76631 -33.9...
7     POLYGON ((150.81664 -34.17323, 150.80916 -34.1...
8     POLYGON ((151.03941 -33.88769, 151.03956 -33.8...
9     MULTIPOLYGON (((151.31497 -33.55578, 151.31496...
10    POLYGON ((151.15081 -32.81308, 151.15208 -32.8...
11    POLYGON ((151.44728 -32.39910, 151.44611 -32.3...
12    POLYGON ((150.95623 -33.85767, 150.95632 -33.8...
13    POLYGON ((151.09654 -33.99094, 151.09654 -33.9...
14    POLYGON ((150.61596 -33.61414, 150.61561 -33.6...
15    MULTIPOLYGON (((151.23479 -33.54038, 151.23481...
16    POLYGON ((150.64863 -34.67746, 150.63766 -34.6...
17    MULTIPOLYGON (((151.64029 -33.05817, 151.64014...
18    POLYGON ((149.92200 -33.47800, 149.92217 -33.4...
19    POLYGON ((150.94982 -33.90542, 150.94998 -33.9...
20    POLYGON ((151.64284 -32.71946, 151.64328 -32.7...
21    MULTIPOLYGON (((151.32886 -33.66075, 151.32885...
22    POLYGON ((150.77409 -33.63494, 150.77818 -33.6...
23    MULTIPOLYGON (((150.87680 -34.54497, 150.87642...
24    MULTIPOLYGON (((150.33445 -35.63150, 150.33445...
25    POLYGON ((150.79494 -32.50098, 150.79926 -32.5...
26    POLYGON ((151.11572 -34.07133, 151.11545 -34.0...
27    POLYGON ((150.97992 -33.39366, 150.98014 -33.3...
28    POLYGON ((149.05093 -34.44198, 149.05090 -34.4...
29    POLYGON ((150.07271 -34.47458, 150.07264 -34.4...
30    POLYGON ((150.34060 -33.85652, 150.34101 -33.8...
31    MULTIPOLYGON (((150.93660 -34.49454, 150.93658...
32    POLYGON ((151.03010 -33.88779, 151.02962 -33.8...
33    MULTIPOLYGON (((152.22805 -32.70573, 152.22805...
34    POLYGON ((150.48981 -32.23270, 150.48985 -32.2...
35    MULTIPOLYGON (((153.01984 -30.64922, 153.01986...
36    MULTIPOLYGON (((151.76983 -32.90087, 151.76980...
37    MULTIPOLYGON (((152.12398 -32.78479, 152.12399...
38    MULTIPOLYGON (((151.26545 -33.92630, 151.26533...
39    POLYGON ((147.36031 -31.15568, 147.36004 -31.1...
Name: geometry, dtype: geometry

In [93]:
type(test['geometry'][37])

shapely.geometry.multipolygon.MultiPolygon

In [ ]:
sydney_aoi[type(sydney_aoi['geometry']) == shapely.geometry.multipolygon.MultiPolygon)

In [90]:
sydney_aoi['geometry']

# Putting useful information into a dataframe

* CLOUD_COVER
* polygon
* satellite image ID associated with the polygon
* date associated with the specific satellite image


We need to find out what other useful information is in the properties of the imageCollection

Checking the number of polygons in `js` which comes from `sydney_aoi`

In [137]:
len(js['features'])

481

Can also be done with

In [139]:
len(sydney_aoi)

481

Checking the `myDict['features'][0].get('properties')` dictionary, some interesting properties to explore are: 
* CLOUD_COVER
* cloud_probability
* DATE_ACQUIRED
* 'system:index' 

this is another date, one day after DATE_ACQUIRED.
* CLOUD_COVER_LAND
* COLLECTION_NUMBER

Checking the `myDict['features'][0].get('id')` dictionary has a date that is one day after DATE_acquired.

In [ ]:
propertyArr = np.array([])

# propertyDF = pd.DataFrame()
myFeatures = ['CLOUD_COVER', 'cloud_probability', 'DATE_ACQUIRED', 'system:index', 'CLOUD_COVER_LAND', 'COLLECTION_NUMBER']


for i in range(len(myDict['features'])):
    for j in range(len(myFeatures)):
        val = myDict['features'][i].get('properties')[myFeatures[j]]
        propertyArr = np.append(propertyArr, val)
    print(i, val) 

propertyDF = propertyList.DataFrame

# print(f'Mean cloud score is {cloudScore_landsat.mean()}')

In [147]:
cloudScore_landsat

array([3.480e+00, 1.097e+01, 4.043e+01, 7.651e+01, 3.200e-01, 5.000e-02,
       5.469e+01, 1.080e+01, 2.000e-02, 1.417e+01, 1.960e+00, 1.000e-02])

In [ ]:
myDict['features']

myDict['features'][0].get('properties')

# Setting up a Dataframe

In [183]:
n_total=10
properties_df = pd.DataFrame(index=np.arange(0, n_total), columns=['Source', 'Co-ordinates', 'Cloud Cover'])

properties_df.Source[0] = polygon
properties_df

                                      Source Co-ordinates Cloud Cover
0  [147.20459654580407, -31.139618412374592]          NaN         NaN
1                                        NaN          NaN         NaN
2                                        NaN          NaN         NaN
3                                        NaN          NaN         NaN
4                                        NaN          NaN         NaN
5                                        NaN          NaN         NaN
6                                        NaN          NaN         NaN
7                                        NaN          NaN         NaN
8                                        NaN          NaN         NaN
9                                        NaN          NaN         NaN

In [230]:
def extract_properties(landsat_imgs, s2_imgs):
    landsat_dict = landsat_imgs.getInfo()
    s2_dict = s2_imgs.getInfo()
    
    n_landsat = len(landsat_dict['features'])
    n_s2 = len(s2_dict['features'])
    
    n_total = n_landsat + n_s2 
    
    properties_df = pd.DataFrame(index=np.arange(0, n_total), columns=['id', 'source', 'cloud_cover', 'percentage_valid_pixels']) 
    
    for i in range(n_landsat):
        properties_df['id'][i] = landsat_dict['features'][i].get('id')
        properties_df['source'][i] = 'landsat'
        properties_df['cloud_cover'][i] = landsat_dict['features'][i].get('properties')['CLOUD_COVER']
        properties_df['percentage_valid_pixels'][i] = landsat_dict['features'][i].get('properties')['valids'] 
        
    for i in range(n_s2):
        j = i + n_landsat
        properties_df['id'][j] = s2_dict['features'][i].get('id')
        properties_df['source'][j] = 's2'
        properties_df['cloud_cover'][j] = s2_dict['features'][i].get('properties')['CLOUD_COVERAGE_ASSESSMENT']
        properties_df['percentage_valid_pixels'][j] = s2_dict['features'][i].get('properties')['valids'] 
    
    return properties_df

In [206]:
landsat_imgs = get_landsat_collection(date_start=dates[0], date_end=dates[1] , bounds=bounds)

In [231]:
test_df = extract_properties(landsat_imgs, s2_imgs)

In [232]:
test_df

,id,source,cloud_cover,percentage_valid_pixels,centerpoint,coordinates
0,2021-08-17,landsat,3.48,0.02061,NaN,NaN
1,2021-09-02,landsat,10.97,0.020656,NaN,NaN
2,2021-08-08,landsat,40.43,0.448347,NaN,NaN
3,2021-08-24,landsat,76.51,0.197233,NaN,NaN
4,2021-08-15,landsat,0.32,0.525008,NaN,NaN
5,2021-08-31,landsat,0.05,0.525084,NaN,NaN
6,2021-08-06,landsat,54.69,0.134468,NaN,NaN
7,2021-08-22,landsat,10.8,0.134496,NaN,NaN
8,2021-08-13,landsat,0.02,0.207362,NaN,NaN
9,2021-08-29,landsat,14.17,0.207537,NaN,NaN
10,2021-08-04,landsat,1.96,0.015603,NaN,NaN
11,2021-08-20,landsat,0.01,0.015539,NaN,NaN
12,2021-08-02,s2,10.1582,0.71075,NaN,NaN
13,2021-08-03,s2,18.4946,0.05926,NaN,NaN
14,2021-08-04,s2,19.9737,0.256056,NaN,NaN
15,2021-08-05,s2,57.2791,0.252952,NaN,NaN
16,2021-08-07,s2,69.7648,0.710238,NaN,NaN
17,2021-08-08,s2,0,0.059909,NaN,NaN
18,2021-08-10,s2,1.937,0.252853,NaN,NaN
19,2021-08-12,s2,6.9454,0.711211,NaN,NaN
20,2021-08-13,s2,16.4855,0.059965,NaN,NaN
21,2021-08-14,s2,0,0.254104,NaN,NaN
22,2021-08-15,s2,0,0.253275,NaN,NaN
23,2021-08-17,s2,29.3754,0.7112,NaN,NaN
24,2021-08-18,s2,0,0.060021,NaN,NaN
25,2021-08-19,s2,98.0081,0.253285,NaN,NaN
26,2021-08-20,s2,0,0.253325,NaN,NaN
27,2021-08-22,s2,0,0.711052,NaN,NaN
28,2021-08-23,s2,90.0543,0.060499,NaN,NaN
29,2021-08-24,s2,99.9021,0.252593,NaN,NaN
30,2021-08-25,s2,0,0.253255,NaN,NaN
31,2021-08-27,s2,51.3534,0.712281,NaN,NaN
32,2021-08-28,s2,0,0.060264,NaN,NaN
33,2021-08-29,s2,99.9965,0.252426,NaN,NaN
34,2021-08-30,s2,99.9962,0.254192,NaN,NaN
35,2021-09-01,s2,0.2658,0.71133,NaN,NaN
36,2021-09-02,s2,0,0.061356,NaN,NaN
37,2021-09-03,s2,0,0.250671,NaN,NaN

# Extracting properties for individual polygons from original AOI

In [15]:
def get_imageCollections(bounds: ee.geometry.Geometry, dates: tuple): # returns imageCollection

    get_landsat_collection = ee_download.get_landsat_collection
    landsat_imgs = get_landsat_collection(date_start=dates[0], date_end=dates[1] , bounds= bounds)

    get_s2_collection = ee_download.get_s2_collection
    s2_imgs = get_s2_collection(date_start=dates[0], date_end=dates[1] , bounds= bounds)
    
    return landsat_imgs, s2_imgs

In [4]:
def get_datetime(date_range: tuple): # function returns a tuple containing datetime
    datetime_start= datetime.strptime(date_range[0], '%d/%m/%y')
    datetime_end= datetime.strptime(date_range[1], '%d/%m/%y')
    
    start_year = datetime_start.year
    end_year = datetime_end.year
    
    return datetime_start, datetime_end, start_year, end_year

In [98]:
def read_aoi(my_gpd_aoi:str):
    my_aoi = gpd.read_file(my_gpd_aoi)
    
    aoi_codes = my_aoi['aoi_code']
    js = json.loads(my_aoi.to_json()) # convertin gthe aoi to a json and getting the 
    bounds = ee.Geometry(ee.FeatureCollection(js).geometry())
    
    return bounds, aoi_codes

In [114]:
def extract_properties(landsat_imgs, s2_imgs, init_bounds, aoi_code):
    
    coordinates = init_bounds['coordinates']
    
    landsat_dict = landsat_imgs.getInfo()
    s2_dict = s2_imgs.getInfo()
    
    n_landsat = len(landsat_dict['features'])
    print('Landsat images:', n_landsat)
    n_s2 = len(s2_dict['features'])
    print('s2 images:', n_s2)
    
    n_total = n_landsat + n_s2 
    
    properties_df = pd.DataFrame(index=np.arange(0, n_total), columns=['id', 'source', 'cloud_cover', 'percentage_valid_pixels', 'coordinates', 'aoi_code']) 
    
    
    for i in range(n_landsat):
        properties_df['id'][i] = landsat_dict['features'][i].get('id')
        properties_df['source'][i] = 'landsat'
        properties_df['cloud_cover'][i] = landsat_dict['features'][i].get('properties')['CLOUD_COVER']
        properties_df['percentage_valid_pixels'][i] = landsat_dict['features'][i].get('properties')['valids'] 
        properties_df['coordinates'][i] = coordinates
        properties_df['aoi_code'][i] = aoi_code
        #find area/co-ordinates associated with each image
        
    for i in range(n_s2):
        j = i + n_landsat
        properties_df['id'][j] = s2_dict['features'][i].get('id')
        properties_df['source'][j] = 's2'
        properties_df['cloud_cover'][j] = s2_dict['features'][i].get('properties')['CLOUD_COVERAGE_ASSESSMENT']
        properties_df['percentage_valid_pixels'][j] = s2_dict['features'][i].get('properties')['valids'] 
        properties_df['coordinates'][j] = coordinates
        properties_df['aoi_code'][j] = aoi_code
        #find area/co-ordinates associated with each image
    
    return properties_df

In [6]:
test_dates = ('02/08/21', '03/09/21')

test_datetime = get_datetime(test_dates)

In [102]:
sydney_aoi, sydney_aoi_codes = read_aoi('2022-07-21_aois.geojson')

sydney_aoi_codes

0        AOI01
1        AOI01
2        AOI02
3        AOI02
4      AOI0289
        ...
476      AOI97
477      AOI98
478      AOI98
479      AOI99
480      AOI99
Name: aoi_code, Length: 481, dtype: object

In [ ]:
sydney_aoi_all = sydney_aoi.getInfo()['coordinates']

sydney_aoi_all

In [122]:
sydney_aoi_poly = ee.Geometry.Polygon(sydney_aoi_all[0])

type(sydney_aoi_poly)

ee.geometry.Geometry

In [110]:
poly_landsat, poly_s2 = get_imageCollections(sydney_aoi_poly, test_datetime)

In [115]:
test_poly_df = extract_properties(poly_landsat, poly_s2, sydney_aoi_poly, sydney_aoi_codes[0])

Landsat images: 4
s2 images: 13

In [116]:
test_poly_df

,id,source,cloud_cover,percentage_valid_pixels,coordinates,aoi_code
0,2021-08-13,landsat,0.02,1,"[[[147.09959654580408, -31.244618412374592], [...",AOI01
1,2021-08-29,landsat,14.17,1,"[[[147.09959654580408, -31.244618412374592], [...",AOI01
2,2021-08-04,landsat,1.96,0.279306,"[[[147.09959654580408, -31.244618412374592], [...",AOI01
3,2021-08-20,landsat,0.01,0.276128,"[[[147.09959654580408, -31.244618412374592], [...",AOI01
4,2021-08-03,s2,3.0108,1,"[[[147.09959654580408, -31.244618412374592], [...",AOI01
5,2021-08-05,s2,40.112,1,"[[[147.09959654580408, -31.244618412374592], [...",AOI01
6,2021-08-08,s2,2.0378,1,"[[[147.09959654580408, -31.244618412374592], [...",AOI01
7,2021-08-10,s2,0,1,"[[[147.09959654580408, -31.244618412374592], [...",AOI01
8,2021-08-13,s2,0.0281,1,"[[[147.09959654580408, -31.244618412374592], [...",AOI01
9,2021-08-15,s2,5.4465,1,"[[[147.09959654580408, -31.244618412374592], [...",AOI01
10,2021-08-18,s2,0.2876,1,"[[[147.09959654580408, -31.244618412374592], [...",AOI01
11,2021-08-20,s2,0.6071,1,"[[[147.09959654580408, -31.244618412374592], [...",AOI01
12,2021-08-23,s2,33.5172,1,"[[[147.09959654580408, -31.244618412374592], [...",AOI01
13,2021-08-25,s2,0.1036,1,"[[[147.09959654580408, -31.244618412374592], [...",AOI01
14,2021-08-28,s2,0,1,"[[[147.09959654580408, -31.244618412374592], [...",AOI01
15,2021-08-30,s2,97.7998,1,"[[[147.09959654580408, -31.244618412374592], [...",AOI01
16,2021-09-02,s2,0,1,"[[[147.09959654580408, -31.244618412374592], [...",AOI01